.vscode/settings.json
addressbook/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
addressbook/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
addressbook/target/test-classes/it/unisa/diem/.gitkeep
documentation_source/Class_Diagram.puml
Possibili/Contact.java
Possibili/ContactBook.java
Possibili/ContactBookTest.java
Possibili/SceneManager.java
Doxyfile
docs/html/classit_1_1unisa_1_1diem_1_1Model_1_1Interfaces_1_1Checker_1_1SimpleEmailchecker.html
docs/html/classit_1_1unisa_1_1diem_1_1Model_1_1Interfaces_1_1Filter_1_1BaseFilter.html
docs/html/classit_1_1unisa_1_1diem_1_1Model_1_1Interfaces_1_1Filter_1_1EmailFilter.html
docs/html/classit_1_1unisa_1_1diem_1_1Model_1_1Interfaces_1_1Filter_1_1FilterDecorator.html
docs/html/classit_1_1unisa_1_1diem_1_1Model_1_1Interfaces_1_1Filter_1_1NameFilter.html
docs/html/classit_1_1unisa_1_1diem_1_1Model_1_1Interfaces_1_1Filter_1_1PhoneFilter.html
docs/html/classit_1_1unisa_1_1diem_1_1Model_1_1Interfaces_1_1Filter_1_1TagFilter.html
docs/html/classit_1_1unisa_1_1diem_1_1Model_1_1LocalDateProperty.html
docs/html/classit_1_1unisa_1_1diem_1_1Model_1_1SafeContact.html
docs/html/classit_1_1unisa_1_1diem_1_1Model_1_1Interfaces_1_1Checker_1_1SimpleEmailchecker.html
docs/html/classit_1_1unisa_1_1diem_1_1Model_1_1Interfaces_1_1Filter_1_1BaseFilter.html
docs/html/classit_1_1unisa_1_1diem_1_1Model_1_1Interfaces_1_1Filter_1_1EmailFilter.html
docs/html/classit_1_1unisa_1_1diem_1_1Model_1_1Interfaces_1_1Filter_1_1FilterDecorator.html
docs/html/classit_1_1unisa_1_1diem_1_1Model_1_1Interfaces_1_1Filter_1_1NameFilter.html
docs/html/classit_1_1unisa_1_1diem_1_1Model_1_1Interfaces_1_1Filter_1_1PhoneFilter.html
docs/html/classit_1_1unisa_1_1diem_1_1Model_1_1Interfaces_1_1Filter_1_1TagFilter.html
docs/html/classit_1_1unisa_1_1diem_1_1Model_1_1LocalDateProperty.html
docs/html/classit_1_1unisa_1_1diem_1_1Model_1_1SafeContact.html
