addressbook/target/classes/it/unisa/diem/AddressBookApplication.class
addressbook/target/classes/it/unisa/diem/ProfileSelectionView.fxml
addressbook/target/classes/it/unisa/diem/ProfileView.fxml
addressbook/target/classes/it/unisa/diem/styles.css
addressbook/target/classes/it/unisa/diem/Controller/AddressBookController.class
addressbook/target/classes/it/unisa/diem/Controller/ProfileSelectionController.class
addressbook/target/classes/it/unisa/diem/Controller/ProfileSelectionController$LayerPane.class
addressbook/target/classes/it/unisa/diem/Controller/ProfileSelectionController$ProfileList.class
addressbook/target/classes/it/unisa/diem/Controller/ProfileSelectionController$ProfileMaker.class
addressbook/target/classes/it/unisa/diem/Controller/ProfileSelectionController$ProfileState.class
addressbook/target/classes/it/unisa/diem/Controller/ProfileSelectionController$ProfileView.class
addressbook/target/classes/it/unisa/diem/Model/Contact.class
addressbook/target/classes/it/unisa/diem/Model/Profile.class
addressbook/target/classes/it/unisa/diem/Utility/FileManager.class
addressbook/target/classes/it/unisa/diem/view_resources/default_picture.png
addressbook/target/classes/it/unisa/diem/view_resources/dot_menu.png
addressbook/target/classes/it/unisa/diem/view_resources/exit_button.png
addressbook/target/classes/it/unisa/diem/view_resources/plus_button.png
addressbook/target/classes/it/unisa/diem/AddressBookView.fxml
addressbook/target/classes/it/unisa/diem/Model/AddressBook.class
addressbook/target/classes/it/unisa/diem/Model/LocalDateProperty.class
addressbook/target/classes/it/unisa/diem/Model/RecentlyDeleted.class
addressbook/target/classes/it/unisa/diem/Model/SafeContact.class
addressbook/target/classes/it/unisa/diem/Model/Tag.class
addressbook/target/classes/it/unisa/diem/Model/Interfaces/ContactList.class
addressbook/target/classes/it/unisa/diem/Model/Interfaces/Taggable.class
addressbook/target/classes/it/unisa/diem/Model/Interfaces/TaggableList.class
addressbook/target/classes/it/unisa/diem/Model/Interfaces/TrashCan.class
addressbook/target/classes/it/unisa/diem/Model/Interfaces/Checker/CharacterLimitStringChecker.class
addressbook/target/classes/it/unisa/diem/Model/Interfaces/Checker/Checker.class
addressbook/target/classes/it/unisa/diem/Model/Interfaces/Checker/EmailChecker.class
addressbook/target/classes/it/unisa/diem/Model/Interfaces/Checker/ImagePathChecker.class
addressbook/target/classes/it/unisa/diem/Model/Interfaces/Checker/ItalianPhoneChecker.class
addressbook/target/classes/it/unisa/diem/Model/Interfaces/Checker/PathChecker.class
addressbook/target/classes/it/unisa/diem/Model/Interfaces/Checker/PhoneChecker.class
addressbook/target/classes/it/unisa/diem/Model/Interfaces/Checker/SimpleEmailChecker.class
addressbook/target/classes/it/unisa/diem/Model/Interfaces/Checker/StringChecker.class
addressbook/target/classes/it/unisa/diem/Model/Interfaces/Filter/BaseFilter.class
addressbook/target/classes/it/unisa/diem/Model/Interfaces/Filter/EmailFilter.class
addressbook/target/classes/it/unisa/diem/Model/Interfaces/Filter/Filter.class
addressbook/target/classes/it/unisa/diem/Model/Interfaces/Filter/FilterDecorator.class
addressbook/target/classes/it/unisa/diem/Model/Interfaces/Filter/NameFilter.class
addressbook/target/classes/it/unisa/diem/Model/Interfaces/Filter/PhoneFilter.class
addressbook/target/classes/it/unisa/diem/Model/Interfaces/Filter/TagFilter.class
addressbook/target/classes/it/unisa/diem/Utility/FXCollectionConverter.class
addressbook/target/classes/it/unisa/diem/Utility/SceneManager.class
addressbook/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
addressbook/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
addressbook/target/test-classes/it/unisa/diem/.gitkeep
addressbook/target/test-classes/it/unisa/diem/Model/ContactTest.class
addressbook/target/test-classes/it/unisa/diem/TestFiles/ContactTest/gattino.png
addressbook/src/test/java/it/unisa/diem/.gitkeep
addressbook/src/test/java/it/unisa/diem/Model/ContactTest.java
addressbook/src/test/java/it/unisa/diem/TestFiles/ContactTest/gattino.png
